{% extends 'scheduler/base.html' %}

{% block content %}

<h1>Content Detail</h1>
<h3>Default Title: {{ content.default_title }}</h3>
<h3>Kind: {{ content.kind }}</h3>
<h3>Creation date: {{ content.created_at }}</h3>
<h3>Last Updated date: {{ content.updated_at }}</h3>
<a href="{% url 'scheduler:content-update' content.id %}">Edit</a>
<h2>Posts:</h2>
{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li><a href="{% url 'scheduler:post-detail' content.id post.id %}">{{ post.override_title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No posts are available.</p>
{% endif %}

{% endblock %}